.content-header{
    min-height: 40px;
}
.row-top{
    margin-top: 8px;
}
.row-office-top{
    margin-top: -8px;
}
.require-star-red{
    color: red;
}

#permission-list-group .checkbox-inline+.checkbox-inline{
     margin-left: 0;
 }
#permission-list-group .checkbox-inline{
    margin-right: 10px;
}

#role-list-group .checkbox-inline+.checkbox-inline{
    margin-left: 0;
}
#role-list-group .checkbox-inline{
    margin-right: 10px;
}
.content .row-button-group{
    padding: 10px 0;
    min-height: 50px;
}